<!-- <div class="container">
    <div>
        <h2>Postuler</h2>
    </div>
    <form>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>CIN </label>
            <input id="cin" type="text" [(ngModel)]="newCandidat.cin" name="cin" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom </label>
            <input id="name" type="text" [(ngModel)]="newCandidat.nom" name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Prenom</label>
            <input id="name" type="text" [(ngModel)]="newCandidat.prenom" name="prenom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date De Naissance</label>
            <input id="date" type="date" [(ngModel)]="newCandidat.dateNai" name="dateNai" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>n° de Téléphone</label>
            <input id="phone" type="number" [(ngModel)]="newCandidat.tel" name="tel" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Adresse</label>
            <input id="adresse" type="text" [(ngModel)]="newCandidat.adresse" name="adresse" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Email</label>
            <input id="email" type="email" [(ngModel)]="newCandidat.email" name="email" class="form-control">
        </div>
<!--         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>CV</label>
            <input type="file" [(ngModel)]="newCandidat.pdfFile" name="pdfFile" class="form-control">
        </div> -->
<!--         <div class="col-sm-4 col-md-4 col-lg-4" hidden>
            <label>Etat</label>
            <input  type="text" value="en attente" [(ngModel)]="newCandidat.etat" name="etat" class="form-control" >
        
        </div> -->
<!-- 
        <div class="mt-2">
            <button type="submit" class="btn btn-success" (click)="addCandidat()">Ajouter</button>
        </div>

    </form>
</div>
<script>
    function validateForm() {
      var name = document.forms["myForm"]["name"].value;
      var email = document.forms["myForm"]["email"].value;
      var telephone = document.forms["myForm"]["phone"].value;
      var cin = document.forms["myForm"]["cin"].value;
      var adresse = document.forms["myForm"]["adresse"].value;
     
      var date = document.forms["myForm"]["date"].value;
      if (name == "" || email == "" || telephone == "" || cin == "" || adresse == ""  || date == "") {
          alert("All fields must be filled out");
          return false;
      }
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
if (!re.test(email)) {
  alert("Invalid email address");
  return false;

}
var re = /^\d{8}$/;
if (!re.test(cin)) {
  alert("Invalid CIN number, it must be 8 digits and no letters");
  return false;
}
var re = /^\d{8}$/;
if (!re.test(telephone)) {
  alert("Invalid phone number, it must be 8 digits and no letters");
  return false;
    }

    
  }

  </script> --> 
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
  rel="stylesheet"
/>
<div style="height: 10px;"></div>
<div class="container">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">
      <div
        class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2"
      >
      <img src="https://media0.giphy.com/media/THXLeSZQK9yOVNa1Iy/giphy.gif" width="350px" height="350px" alt="">

        <figure
          class="figure position-absolute m-0 opacity-06 z-index-100"
          style="bottom: 0; right: 10px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="444px"
            height="626px"
          >
            <defs>
              <linearGradient
                id="PSgrad_1"
                x1="0%"
                x2="81.915%"
                y1="57.358%"
                y2="0%"
              >
                <stop
                  offset="0%"
                  stop-color="rgb(255,255,255)"
                  stop-opacity="1"
                ></stop>
                <stop
                  offset="100%"
                  stop-color="rgb(0,54,207)"
                  stop-opacity="0"
                ></stop>
              </linearGradient>
            </defs>
            <path
              fill-rule="evenodd"
              opacity="0.302"
              fill="rgb(72, 155, 248)"
              d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"
            ></path>
            <path
              fill="url(#PSgrad_1)"
              d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"
            ></path>
          </svg>
        </figure>
      </div>

      <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
        <h2 class="text-center" style="color:rgb(63, 129, 200) ;">Postuler</h2>

        <form
          action="#"
          class="contact-form form-validate"
          novalidate="novalidate"
          enctype="multipart/form-data"

        >
          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>CIN </label>
                <input
                  id="cin"
                  type="text"
                  [(ngModel)]="newCandidat.cin"
                  name="cin"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>Nom </label>
                <input
                  id="name"
                  type="text"
                  [(ngModel)]="newCandidat.nom"
                  name="nom"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>Prenom</label>
                <input
                  id="name"
                  type="text"
                  [(ngModel)]="newCandidat.prenom"
                  name="prenom"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>Date De Naissance</label>
                <input
                  id="date"
                  type="date"
                  [(ngModel)]="newCandidat.dateNai"
                  name="dateNai"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>n° de Téléphone</label>
                <input
                  id="phone"
                  type="number"
                  [(ngModel)]="newCandidat.tel"
                  name="tel"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>Adresse</label>
                <input
                  id="adresse"
                  type="text"
                  [(ngModel)]="newCandidat.adresse"
                  name="adresse"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label>Email</label>
                <input
                  id="email"
                  type="email"
                  [(ngModel)]="newCandidat.email"
                  name="email"
                  class="form-control"
                />
              </div>
            </div>


            

            <div class="col-sm-6 mb-3">
              <div class="form-group">
              <label>CV</label>
              <input type="file" class="form-control">
              </div>
            </div>

            <div class="col-sm-6 mb-3" hidden>
              <div class="form-group">
                <label>Etat</label>
                <input  type="text" value="en attente" [(ngModel)]="newCandidat.etat" name="etat" class="form-control" >
              </div>
            </div>




            <div class="col-sm-12 mb-3">
              <button type="submit" name="submit" class="btn btn-primary" (click)="addCandidat()">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Contact Form Wrapper -->
    </div>
  </div>
</div>